@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
/*----------Обнуление----------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------------------------------------------------------*/
body {
  font-family: Rubik, sans-serif;
  background-color: #f4f6fc;
  font-size: 15px;
  font-weight: 300;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 0 0 50px 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content_title {
  margin: 64px 0 20px 0;
  font-size: 28px;
  font-weight: 200;
  line-height: 1.14;
  color: #2e384d;
}

@media (max-width: 768px) {
  .content {
    margin: 60px 0 20px 0;
  }
  .content_title {
    display: none;
  }
}
@media (max-width: 538px) {
  .content_title {
    margin: 30px 0 20px 0;
  }
}
.container {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 24px;
  }
}
.card {
  background-color: white;
  border-radius: 1px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
          box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
}
.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-title img {
  width: 15px;
}
.card-title__title {
  font-size: 13px;
  letter-spacing: 1.21px;
  text-transform: uppercase;
  color: #8798ad;
}
.card-container {
  padding: 0 24px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e4e8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #fff;
}
.header__menu-icon {
  padding: 33px 31px 30px 31px;
  background-color: #fff;
}
.header__menu-icon img {
  height: 14px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}
.header__title {
  display: none;
}
.header__logo {
  width: 102px;
}
.header__logo-hide {
  display: none;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__notification {
  padding: 0 20px 0 0;
  position: relative;
}
.header__notification span {
  content: "";
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  background-color: #2e5bff;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -3px;
}
.header__notification img {
  width: 30px;
}
.header__message {
  padding: 0 20px 0 0;
  position: relative;
}
.header__message span {
  content: "";
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  background-color: #2e5bff;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -7px;
}
.header__message img {
  width: 30px;
}
.header__avatar {
  width: 40px;
  height: 40px;
}
.header__avatar img {
  border-radius: 50%;
  width: 100%;
}

@media (max-width: 768px) {
  .header__logo {
    padding: 0;
  }
  .header__logo-hide {
    display: block;
    width: 46px;
  }
  .header__notification {
    padding: 0 20px 0 0;
  }
  .header__notification span {
    width: 7px;
    height: 7px;
    left: 13px;
    top: -1px;
  }
  .header__notification img {
    width: 23px;
  }
  .header__message {
    padding: 0 20px 0 0;
  }
  .header__message span {
    width: 7px;
    height: 7px;
    left: 17px;
    top: -3px;
  }
  .header__message img {
    width: 23px;
  }
  .header__avatar img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 425px) {
  .header {
    height: 50px;
  }
  .header__menu-icon {
    padding: 19px 24px 10px 24px;
  }
  .header__title {
    display: inline;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #2e384d;
  }
  .header__logo {
    display: none;
  }
  .header__logo-hide {
    width: 0px;
  }
  .header__notification {
    padding: 0 0 0 47px;
  }
  .header__notification span {
    left: 57px;
    top: 0px;
  }
  .header__notification img {
    width: 19px;
  }
  .header__message, .header__avatar {
    display: none;
  }
}
.menu {
  z-index: 50;
  height: 3000px;
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  overflow: hidden;
  min-width: 80px;
  background: #fff;
}
.menu-block {
  min-width: 80px;
  height: 0px;
}
.menu:hover {
  position: absolute;
  width: 215px;
}
.menu:hover .person {
  left: 0;
}
.menu:hover .navigation__title {
  display: block;
}
.menu__person {
  margin: 42px 0 28px 0;
}

.person {
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  position: absolute;
  left: -200%;
}
.person__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 30px;
}
.person__avatar {
  max-width: 32px;
}
.person__avatar img {
  width: 100%;
}
.person__body {
  margin: 0 0 0 10px;
}
.person__title {
  font-size: 15px;
  color: #2e384d;
}
.person__name {
  font-size: 15px;
  line-height: 1.47;
  color: #bfc5d2;
}

.navigation {
  margin: 96px 0 0 0;
}
.navigation__item {
  padding: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__item:hover {
  padding: 0 0 0 27px;
  background-color: #ebeffe;
  border-left: 3px solid #2e5bff;
}
.navigation__item:hover:before {
  padding: 0;
  border-left: 3px solid #2e5bff;
}
.navigation__item__analytics {
  padding: 0 0 0 27px;
  border-left: 3px solid #2e5bff;
  background-color: #ebeffe;
}
.navigation__icon {
  width: 20px;
}
.navigation__title {
  display: none;
  margin: 0 0 0 18px;
  font-size: 15px;
  color: #b0bac9;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .menu-block {
    display: block;
    min-width: 0px;
    z-index: 1;
  }
  .menu.active {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    display: block;
    z-index: 50;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    width: 215px;
    top: 79px;
    left: 0;
    background: #fff;
  }
  .menu.active .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
  }
  .menu.active .navigation__title {
    display: block;
  }
}
@media (max-width: 425px) {
  .menu.active {
    top: 49px;
  }
}
.section_1 {
  margin: 0 0 24px 0;
}

.revenue__container {
  padding: 32px 24px 43px 24px;
}
.revenue__title {
  margin: 0 0 34px 0;
}
.revenue__body {
  margin: 0 auto;
}
.revenue__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.revenue__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 300;
  line-height: 1.47;
  color: #8798ad;
  margin: 0 23px 0 0;
}
.revenue__point:last-child {
  margin: 0;
}
.revenue__point:before {
  content: "";
  display: block;
  margin: 6px 8px 6px 0;
  width: 10px;
  height: 10px;
  background-color: #2e5bff;
  border-radius: 50%;
}
.revenue__point.todays-trips__point--purple:before {
  background-color: #8c54ff;
}
.chart {
  margin: 9px 0 0 0;
  font-size: 15px;
  line-height: 1.47;
  text-align: right;
  color: #b0bac9;
}
.chart__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chart__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  margin: -8px 18px 0 0;
}
.chart__column_2 {
  background: url(../image/analytics/revenue_grid.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.chart__img {
  padding: 26px 0 2px 0;
}
.chart__img img {
  width: 100%;
}
.chart__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 0 83px;
  padding: 0 6px 0 0;
}
.chart__tablet, .chart__mobile {
  display: none;
}

@media (max-width: 768px) {
  .revenue__title {
    margin: 0;
  }
  .revenue__points {
    margin: 24px 0 3px 0;
  }

  .chart__mobile, .chart__desctop {
    display: none;
  }
  .chart__tablet {
    display: block;
    margin: 0;
  }
  .chart__tablet img {
    width: 100%;
  }
}
@media (max-width: 538px) {
  .revenue__title {
    margin: 0;
  }
  .revenue__points {
    margin: 24px 0 3px 0;
  }

  .chart__tablet, .chart__desctop {
    display: none;
  }
  .chart__mobile {
    display: block;
    margin: 0;
  }
  .chart__mobile img {
    width: 100%;
  }
}
.section_2 {
  margin: 0 0 48px 0;
}
.section_2-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 27px;
  -ms-grid-columns: 1fr 27px 1fr 27px 1fr 27px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.section_2-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section_2-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.section_2-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.section_2-container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.small-card__container {
  padding: 16px 24px 17px;
}
.small-card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 0 20px 0;
}
.small-card__check__1 {
  background-color: rgba(51, 172, 46, 0.15);
}
.small-card__check__2 {
  background-color: rgba(0, 193, 212, 0.15);
}
.small-card__check__3 {
  background-color: rgba(140, 84, 255, 0.15);
}
.small-card__check__4 {
  background-color: rgba(247, 193, 55, 0.15);
}
.small-card__num {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -0.6px;
  color: #2e384d;
  margin: 0 0 4px 0;
}
.small-card__text {
  font-size: 15px;
  line-height: 1.47;
  color: #8798ad;
}

@media (max-width: 1180px) {
  .section_2 {
    margin: 0 0 24px 0;
  }
  .section_2-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 24px;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 24px 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .section_2-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section_2-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .section_2-container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section_2-container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .small-card__container {
    padding: 27px 24px 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .small-card__check {
    margin: 0;
  }
  .small-card__body {
    margin: 0 0 0 16px;
  }
  .small-card__num {
    margin: 0 0 3px 0;
  }
  .small-card__text {
    margin: 0;
  }
}
@media (max-width: 692px) {
  .section_2 {
    margin: 0 0 18px 0;
  }
  .section_2-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 14px;
    -ms-grid-columns: 1fr 14px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .section_2-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section_2-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .small-card:nth-child(3), .small-card:nth-child(4) {
    display: none;
  }
  .small-card__container {
    display: block;
    padding: 16px 21px 17px;
  }
  .small-card__check {
    width: 50px;
    height: 50px;
    margin: 0 0 17px 0;
  }
  .small-card__body {
    margin: 0;
  }
  .small-card__num {
    font-size: 34px;
    line-height: 0.94;
    letter-spacing: -0.6px;
    margin: 0 0 6px 0;
  }
  .small-card__text {
    font-size: 15px;
    line-height: 1.47;
    color: #8798ad;
    margin: 0;
  }
}
.section_3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  .section_3__row {
    display: block;
  }
}
.latest_trips {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.7%;
          flex: 0 0 31.7%;
  margin: 0 24px 0 0;
}
.latest_trips__container {
  padding: 32px 24px 22px;
}
.latest_trips__title {
  margin: 0 0 54px 0;
}
.trip {
  font-size: 15px;
  margin: 0 0 17px 0;
}
.trip__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  color: #2e384d;
  margin: 0 0 5px 0;
}
.trip__cost {
  text-align: right;
}
.trip__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.47;
  color: #8798ad;
}
.trip__time {
  text-align: right;
}

@media (max-width: 1280px) {
  .latest_trips {
    margin: 0 0 24px 0;
  }
  .latest_trips__container {
    padding: 32px 24px 28px;
  }
  .latest_trips__title {
    margin: 0 0 35px 0;
  }

  .trip:nth-child(3) {
    margin: 0;
  }
  .trip:nth-child(4), .trip:nth-child(5), .trip:nth-child(6) {
    display: none;
  }
}
.trips_by_weekday {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.trips_by_weekday__container {
  padding: 32px 24px 26px;
}
.trips_by_weekday__title {
  margin: 0 0 41px 0;
}
.trips_by_weekday__body {
  margin: 0 auto;
}
.trips_by_weekday__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.trips_by_weekday__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 300;
  line-height: 1.47;
  color: #8798ad;
  margin: 0 23px 0 0;
}
.trips_by_weekday__point:last-child {
  margin: 0;
}
.trips_by_weekday__point:before {
  content: "";
  display: block;
  margin: 6px 8px 6px 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.trips_by_weekday__point_1:before {
  background-color: #2e5bff;
}
.trips_by_weekday__point_2:before {
  background-color: #8c54ff;
}
.trips_by_weekday__point_3:before {
  background-color: #fad050;
}

.chart_two {
  margin: 9px 0 0 0;
  font-size: 15px;
  line-height: 1.47;
  text-align: right;
  color: #b0bac9;
}
.chart_two__tablet, .chart_two__mobile {
  display: none;
}
.chart_two__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chart_two__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  margin: 0 7px -10px 0;
}
.chart_two__column_2 {
  background-image: url(../image/analytics/chart_two.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.chart_two__img {
  padding: 46px 62px 98px 62px;
  position: relative;
}
.chart_two__img img {
  margin: 0 15px 0 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 50;
}
.chart_two__img div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  z-index: 2;
  top: 38px;
}
.chart_two__img .span {
  content: "";
  display: block;
  width: 7px;
  border-radius: 99px;
  margin: 0 6px 0 0;
  background-color: #2e5bff;
}
.chart_two__img .span:nth-child(even) {
  margin: 0 72px 0 0;
  background-color: #8c54ff;
}
.chart_two__img .span:nth-child(1) {
  height: 152px;
}
.chart_two__img .span:nth-child(2) {
  height: 177px;
}
.chart_two__img .span:nth-child(3) {
  height: 120px;
}
.chart_two__img .span:nth-child(4) {
  height: 139px;
}
.chart_two__img .span:nth-child(5) {
  height: 142px;
}
.chart_two__img .span:nth-child(6) {
  height: 165px;
}
.chart_two__img .span:nth-child(7) {
  height: 245px;
}
.chart_two__img .span:nth-child(8) {
  height: 175px;
}
.chart_two__img .span:nth-child(9) {
  height: 102px;
}
.chart_two__img .span:nth-child(10) {
  height: 119px;
}
.chart_two__img .span:nth-child(11) {
  height: 119px;
}
.chart_two__img .span:nth-child(12) {
  height: 85px;
}
.chart_two__img .span:nth-child(13) {
  height: 217px;
}
.chart_two__img .span:nth-child(14) {
  height: 213px;
}
.chart_two__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 9px 0 0 83px;
  padding: 0 6px 0 0;
}

@media (max-width: 1280px) {
  .trips_by_weekday__container {
    padding: 32px 24px 30px;
  }
  .trips_by_weekday__title {
    margin: 0 0 23px 0;
  }
  .trips_by_weekday__points {
    margin: 0 0 10px 0;
  }

  .chart_two {
    margin: 0 auto;
    max-width: 800px;
  }
  .chart_two__desctop, .chart_two__mobile {
    display: none;
  }
  .chart_two__tablet {
    display: block;
  }
  .chart_two img {
    width: 100%;
  }
}
@media (max-width: 538px) {
  .chart_two__desctop, .chart_two__tablet {
    display: none;
  }
  .chart_two__mobile {
    display: block;
  }
}