@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
/*----------Обнуление----------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------------------------------------------------------*/
.card-title, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #f4f6fc;
  font-size: 15px;
  font-weight: 300;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 0 0 50px 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  position: absolute;
  background-color: #fff;
  width: 280px;
  padding: 0 15px 50px;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.sidebar.disable {
  right: -275px;
}

.weather {
  border-bottom: 1px solid #e4e8f0;
  padding: 32px 0 27px 0;
  margin: 0 14px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.weather__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.weather__tempreture {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.14;
  color: #2e384d;
  margin: 0 14px 0 0;
}
.weather__icon {
  max-width: 22px;
}
.weather__icon img {
  width: 100%;
}
.weather__text {
  font-size: 15px;
  line-height: 1.47;
  color: #8798ad;
}
.weather__button {
  margin: 0 4px 0 0;
}
.weather__button button {
  width: 90px;
  height: 40px;
  padding: 9px 0 10px;
  border-radius: 4px;
  background-color: #f4f6fc;
}
.weather__button span {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #8798ad;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #e4e8f0;
}
.notification__column-1 {
  margin: 0 15px 0 0;
}
.notification__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f6fc;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
}
.notification__img span {
  content: "";
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 5px;
  height: 5px;
  background-color: #2e5bff;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -3px;
}
.notification__title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.13px;
  color: #b0bac9;
}

.notification__text {
  font-size: 15px;
  line-height: 1.47;
  color: #2e384d;
  margin: 8px 0 5px;
}

.notification__time {
  font-size: 12px;
  line-height: 1.83;
  color: #bfc5d2;
}

.header {
  border-bottom: 1px solid #e4e8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #fff;
}
.header__menu-icon {
  padding: 33px 31px 30px 31px;
  background-color: #fff;
}
.header__menu-icon img {
  height: 14px;
}
.header__container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}
.header__title {
  display: none;
}
.header__logo {
  width: 102px;
}
.header__logo-hide {
  display: none;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__notification {
  padding: 0 20px 0 0;
  position: relative;
}
.header__notification span {
  content: "";
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  background-color: #2e5bff;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -3px;
}
.header__notification img {
  width: 30px;
}
.header__message {
  padding: 0 20px 0 0;
  position: relative;
}
.header__message span {
  content: "";
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  background-color: #2e5bff;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -7px;
}
.header__message img {
  width: 30px;
}
.header__avatar {
  width: 40px;
  height: 40px;
}
.header__avatar img {
  border-radius: 50%;
  width: 100%;
}

.menu {
  z-index: 50;
  height: 3000px;
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  overflow: hidden;
  min-width: 80px;
  background: #fff;
}
.menu-block {
  min-width: 80px;
  height: 0px;
}
.menu:hover {
  position: absolute;
  width: 215px;
}
.menu:hover .person {
  left: 0;
}
.menu:hover .navigation__title {
  display: block;
}

.menu__person {
  margin: 42px 0 28px 0;
}

.person {
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  position: absolute;
  left: -200%;
}
.person__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 30px;
}
.person__avatar {
  max-width: 32px;
}
.person__avatar img {
  width: 100%;
}
.person__body {
  margin: 0 0 0 10px;
}
.person__title {
  font-size: 15px;
  color: #2e384d;
}
.person__name {
  font-size: 15px;
  line-height: 1.47;
  color: #bfc5d2;
}

.navigation {
  margin: 96px 0 0 0;
}
.navigation__item {
  padding: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__item:hover {
  padding: 0 0 0 27px;
  background-color: #ebeffe;
  border-left: 3px solid #2e5bff;
}
.navigation__item:hover:before {
  padding: 0;
  border-left: 3px solid #2e5bff;
}
.navigation__item__analytics {
  padding: 0 0 0 27px;
  border-left: 3px solid #2e5bff;
  background-color: #ebeffe;
}
.navigation__icon {
  width: 20px;
}
.navigation__title {
  display: none;
  margin: 0 0 0 18px;
  font-size: 15px;
  color: #b0bac9;
}

.container {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}

.content_title {
  margin: 64px 0 20px 0;
  font-size: 28px;
  font-weight: 200;
  line-height: 1.14;
  color: #2e384d;
}

.section_1 {
  margin: 0 0 24px 0;
}

.revenue__body {
  margin: 0 auto;
}
.revenue__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.revenue__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 300;
  line-height: 1.47;
  color: #8798ad;
  margin: 0 23px 0 0;
}
.revenue__point:last-child {
  margin: 0;
}
.revenue__point:before {
  content: "";
  display: block;
  margin: 6px 8px;
  width: 12px;
  height: 12px;
  background-color: #2e5bff;
  border-radius: 50%;
}
.revenue__point.todays-trips__point--purple:before {
  background-color: #8c54ff;
}
.chart {
  margin: 9px 0 0 0;
  font-size: 15px;
  line-height: 1.47;
  text-align: right;
  color: #b0bac9;
}
.chart__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chart__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  margin: -8px 18px 0 0;
}
.chart__column_2 {
  background: url(../image/analytics/revenue_grid.svg);
  background-repeat: no-repeat;
}
.chart__img {
  padding: 26px 0 2px 0;
}
.chart__img img {
  width: 100%;
}
.chart__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 0 83px;
  padding: 0 6px 43px 0;
}

.section_2 {
  margin: 0 0 34px 0;
}
.section_2-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 27px;
  -ms-grid-columns: 1fr 27px 1fr 27px 1fr 27px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.section_2-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section_2-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.section_2-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.section_2-container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.section_3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest_trips {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin: 0 24px 0 0;
}
.latest_trips__body {
  margin: 19px 0 0 0;
}

.trip {
  font-size: 15px;
  margin: 0 0 15px 0;
}
.trip__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  color: #2e384d;
  margin: 0 0 4px 0;
}
.trip__cost {
  text-align: right;
}
.trip__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.47;
  color: #8798ad;
}
.trip__time {
  text-align: right;
}

.trips_by_weekday {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.chart_two {
  margin: 9px 0 0 0;
  font-size: 15px;
  line-height: 1.47;
  text-align: right;
  color: #b0bac9;
}
.chart_two__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chart_two__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  margin: 0 7px -10px 0;
}
.chart_two__column_2 {
  background-image: url(../image/analytics/chart_two.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.chart_two__img {
  padding: 46px 62px 98px 62px;
  position: relative;
}
.chart_two__img img {
  margin: 0 15px 0 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 50;
}
.chart_two__img div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  z-index: 2;
  top: 38px;
}
.chart_two__img .span {
  content: "";
  display: block;
  width: 7px;
  border-radius: 99px;
  margin: 0 6px 0 0;
  background-color: #2e5bff;
}
.chart_two__img .span:nth-child(even) {
  margin: 0 72px 0 0;
  background-color: #8c54ff;
}
.chart_two__img .span:nth-child(1) {
  height: 152px;
}
.chart_two__img .span:nth-child(2) {
  height: 177px;
}
.chart_two__img .span:nth-child(3) {
  height: 120px;
}
.chart_two__img .span:nth-child(4) {
  height: 139px;
}
.chart_two__img .span:nth-child(5) {
  height: 142px;
}
.chart_two__img .span:nth-child(6) {
  height: 165px;
}
.chart_two__img .span:nth-child(7) {
  height: 245px;
}
.chart_two__img .span:nth-child(8) {
  height: 175px;
}
.chart_two__img .span:nth-child(9) {
  height: 102px;
}
.chart_two__img .span:nth-child(10) {
  height: 119px;
}
.chart_two__img .span:nth-child(11) {
  height: 119px;
}
.chart_two__img .span:nth-child(12) {
  height: 85px;
}
.chart_two__img .span:nth-child(13) {
  height: 217px;
}
.chart_two__img .span:nth-child(14) {
  height: 213px;
}
.chart_two__row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 9px 0 0 83px;
  padding: 0 6px 43px 0;
}

.card {
  background-color: white;
  border-radius: 1px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
          box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
}
.card-title {
  padding: 32px 0 33px 0;
}
.card-title img {
  width: 15px;
}
.card-title__title {
  font-size: 13px;
  letter-spacing: 1.21px;
  text-transform: uppercase;
  color: #8798ad;
}
.card-container {
  padding: 0 24px;
  margin: 0 auto;
}

.small-card__container {
  padding: 16px 24px 17px;
}
.small-card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 0 16px 0;
}
.small-card__check__1 {
  background-color: rgba(51, 172, 46, 0.15);
}
.small-card__check__2 {
  background-color: rgba(0, 193, 212, 0.15);
}
.small-card__check__3 {
  background-color: rgba(140, 84, 255, 0.15);
}
.small-card__check__4 {
  background-color: rgba(247, 193, 55, 0.15);
}
.small-card__num {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -0.6px;
  color: #2e384d;
}
.small-card__text {
  font-size: 15px;
  line-height: 1.47;
  color: #8798ad;
}