@media (max-width: 695px) {
  .section_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479px) {
  .header {
    height: 50px;
  }
  .header__menu-icon {
    padding: 19px 24px 10px 24px;
  }
  .header__title {
    display: inline;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #2e384d;
  }
  .header__logo {
    display: none;
  }
  .header__logo-hide {
    width: 0px;
  }
  .header__notification {
    padding: 0 0 0 47px;
  }
  .header__notification img {
    width: 19px;
  }
  .header__message, .header__avatar {
    display: none;
  }

  .section_1 {
    margin: 30px 0 0 0;
    -ms-grid-columns: 1fr 14px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 256fr 18px 203fr 18px 516fr;
    grid-template-rows: 256fr 203fr 516fr;
    grid-column-gap: 14px;
    grid-row-gap: 18px;
        grid-template-areas: "welcome welcome" "vehicles distance" "trips trips";
  }

  .welcome {
    padding: 26px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome__container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 20px 1fr;
        grid-template: 1fr/1fr 1fr;
    grid-column-gap: 20px;
  }
  .welcome__image {
    padding: 0;
    margin: 0 auto;
  }
  .welcome__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome__text {
    text-align: left;
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: normal;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .small-card__container {
    margin: 17px;
  }
  .small-card__body {
    display: block;
  }
  .small-card__check {
    margin: 0 0 17px 0;
  }
  .small-card__title {
    margin: 0;
  }
  .small-card__num {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 12px 0;
  }

  .todays-trips__chart-tablet {
    display: none;
  }
  .todays-trips__chart-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .todays-trips__chart-mob img {
    width: 100%;
  }

  .fleet-activity-map {
    display: none;
  }

  .top-drivers {
    padding: 0 0 26px 0;
  }

  .driver:nth-child(4) {
    display: none;
  }
  .driver:nth-child(5) {
    display: none;
  }
  .driver:nth-child(6) {
    display: none;
  }

  .trips-by-type {
    padding: 0 0 26px 0;
  }

  .service-reminders {
    display: none;
  }
}