@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/*----------Обнуление----------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
image {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*---------------------------------------------------------------------------*/

%fsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Rubik, sans-serif;
    background-color: #f4f6fc;
    font-size: 15px;
    font-weight: 300;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0 0 50px 0;
}
.content {
    display: flex;
}

.sidebar {
    position: absolute;
    background-color: #fff;
    width: 280px;
    padding: 0 15px 50px;
    right: 0;
    z-index: 100;
    transition: all 0.5s ease 0.1s;

    &.disable {
        right: -275px;
    }
}

.weather {
    border-bottom: 1px solid #e4e8f0;
    padding: 32px 0 27px 0;
    margin: 0 14px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__body {
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__tempreture {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.14;
        color: #2e384d;
        margin: 0 14px 0 0;
    }
    &__icon {
        max-width: 22px;
        img {
            width: 100%;
        }
    }
    &__text {
        font-size: 15px;
        line-height: 1.47;
        color: #8798ad;
    }
    &__button {
        margin: 0 4px 0 0;
        button {
            width: 90px;
            height: 40px;
            padding: 9px 0 10px;
            border-radius: 4px;
            background-color: #f4f6fc;
        }
        span {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.4;
            text-align: center;
            color: #8798ad;
        }
    }
}

.notification {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #e4e8f0;
    &__column-1 {
        margin: 0 15px 0 0;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f6fc;

        border-radius: 50%;
        width: 32px;
        height: 32px;
        position: relative;
        span {
            content: '';
            display: block;
            box-sizing: content-box;
            width: 5px;
            height: 5px;
            background-color: #2e5bff;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            top: -3px;
        }
        img {
        }
    }
}
.notification__column-2 {
}
.notification__title {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.13px;
    color: #b0bac9;
}
.notification__text {
    font-size: 15px;
    line-height: 1.47;
    color: #2e384d;
    margin: 8px 0 5px;
}
.notification__time {
    font-size: 12px;
    line-height: 1.83;
    color: #bfc5d2;
}

.header {
    border-bottom: 1px solid #e4e8f0;
    display: flex;
    height: 80px;
    background-color: #fff;
    &__menu-icon {
        padding: 33px 31px 30px 31px;
        background-color: #fff;

        img {
            height: 14px;
        }
    }
    &__container {
        @extend %fsbc;
        box-sizing: content-box;
        width: 1140px;
        margin: 0 auto;
        padding: 0 24px;
    }
    &__title {
        display: none;
    }
    &__logo {
        width: 102px;
        &-hide {
            display: none;
        }
    }
    &__items {
        display: flex;
        align-items: center;
    }
    &__notification {
        padding: 0 20px 0 0;
        position: relative;
        span {
            content: '';
            display: block;
            box-sizing: content-box;
            width: 8px;
            height: 8px;
            background-color: #2e5bff;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            top: -3px;
        }
        img {
            width: 30px;
        }
    }
    &__message {
        padding: 0 20px 0 0;
        position: relative;
        span {
            content: '';
            display: block;
            box-sizing: content-box;
            width: 8px;
            height: 8px;
            background-color: #2e5bff;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            top: -7px;
        }
        img {
            width: 30px;
        }
    }
    &__avatar {
        width: 40px;
        height: 40px;

        img {
            border-radius: 50%;

            width: 100%;
        }
    }
}

.menu {
    &-block {
        min-width: 80px;
        height: 0px;
    }
    z-index: 50;
    height: 3000px;
    transition: all 0.5s ease 0.1s;
    overflow: hidden;
    min-width: 80px;
    background: #fff;
    &:hover {
        position: absolute;
        width: 215px;
        .person {
            left: 0;
        }
        .navigation__title {
            display: block;
        }
    }
}

.menu__person {
    margin: 42px 0 28px 0;
}
.person {
    transition: all 0.5s ease 0.1s;
    // display: none;
    position: absolute;
    left: -200%;
    &__row {
        display: flex;
        padding: 0 0 0 30px;
    }
    &__avatar {
        max-width: 32px;
        img {
            width: 100%;
        }
    }
    &__body {
        margin: 0 0 0 10px;
    }
    &__title {
        font-size: 15px;
        color: #2e384d;
    }
    &__name {
        font-size: 15px;
        line-height: 1.47;
        color: #bfc5d2;
    }
}

.navigation {
    margin: 96px 0 0 0;
    &__item {
        padding: 0 0 0 30px;
        display: flex;
        height: 56px;
        text-align: center;
        align-items: center;
        &:hover {
            padding: 0 0 0 27px;
            background-color: #ebeffe;
            border-left: 3px solid #2e5bff;
            &:before {
                padding: 0;
                border-left: 3px solid #2e5bff;
            }
        }
        &__analytics {
            padding: 0 0 0 27px;
            border-left: 3px solid #2e5bff;
            background-color: #ebeffe;
        }
    }
    &__icon {
        width: 20px;
    }
    &__title {
        display: none;
        margin: 0 0 0 18px;
        font-size: 15px;
        color: #b0bac9;
    }
}

.container {
    position: relative;
    box-sizing: content-box;
    width: 1140px;
    margin: 0 auto;
    padding: 0 24px;
}

.content_title {
    margin: 64px 0 20px 0;
    font-size: 28px;
    font-weight: 200;
    line-height: 1.14;
    color: #2e384d;
}

.section_1 {
    margin: 0 0 24px 0;
}
.revenue {
    &__container {
    }
    &__title {
        // padding-bottom: 17px;
    }
    &__body {
        margin: 0 auto;
    }
    &__points {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__point {
        display: flex;
        align-items: flex-end;
        font-weight: 300;
        line-height: 1.47;
        color: #8798ad;
        margin: 0 23px 0 0;
        &:last-child {
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            margin: 6px 8px;
            width: 12px;
            height: 12px;
            background-color: #2e5bff;
            border-radius: 50%;
        }
        &.todays-trips__point--purple:before {
            background-color: #8c54ff;
        }
    }
    &__point-text {
    }
}

.chart {
    margin: 9px 0 0 0;

    font-size: 15px;
    line-height: 1.47;
    text-align: right;
    color: #b0bac9;
    &__row_1 {
        display: flex;
    }
    &__column_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        margin: -8px 18px 0 0;
    }
    &__column_2 {
        background: url(../image/analytics/revenue_grid.svg);
        background-repeat: no-repeat;
    }
    &__img {
        padding: 26px 0 2px 0;
        img {
            width: 100%;
        }
    }
    &__row_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 0 0 83px;
        padding: 0 6px 43px 0;
    }
}

.section_2 {
    margin: 0 0 34px 0;
    &-container {
        display: grid;
        grid-gap: 27px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
.section_3 {
    &__row {
        display: flex;
    }
}

.latest_trips {
    flex: 0 0 30%;
    margin: 0 24px 0 0;
    &__body {
        margin: 19px 0 0 0;
    }
}

.trip {
    font-size: 15px;
    margin: 0 0 15px 0;
    &__row_1 {
        display: flex;
        justify-content: space-between;

        font-weight: 500;
        color: #2e384d;

        margin: 0 0 4px 0;
    }
    &__way {
    }
    &__cost {
        text-align: right;
    }
    &__row_2 {
        display: flex;
        justify-content: space-between;

        line-height: 1.47;
        color: #8798ad;
    }
    &__date {
    }
    &__time {
        text-align: right;
    }
}

.trips_by_weekday {
    flex: 1 1 auto;
}

.chart_two {
    margin: 9px 0 0 0;

    font-size: 15px;
    line-height: 1.47;
    text-align: right;
    color: #b0bac9;
    &__row_1 {
        display: flex;
    }
    &__column_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        margin: 0 7px -10px 0;
    }
    &__column_2 {
        background-image: url(../image/analytics/chart_two.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    &__img {
        padding: 46px 62px 98px 62px;
        position: relative;
        img {
            margin: 0 15px 0 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 50;
        }
        div {
            display: flex;
            align-items: flex-end;
            position: absolute;
            z-index: 2;
            top: 38px;
        }
        .span {
            content: '';
            display: block;
            width: 7px;
            border-radius: 99px;
            margin: 0 6px 0 0;
            background-color: #2e5bff;
            &:nth-child(even) {
                margin: 0 72px 0 0;
                background-color: #8c54ff;
            }
            &:nth-child(1) {
                height: 152px;
            }
            &:nth-child(2) {
                height: 177px;
            }
            &:nth-child(3) {
                height: 120px;
            }
            &:nth-child(4) {
                height: 139px;
            }
            &:nth-child(5) {
                height: 142px;
            }
            &:nth-child(6) {
                height: 165px;
            }
            &:nth-child(7) {
                height: 245px;
            }
            &:nth-child(8) {
                height: 175px;
            }
            &:nth-child(9) {
                height: 102px;
            }
            &:nth-child(10) {
                height: 119px;
            }
            &:nth-child(11) {
                height: 119px;
            }
            &:nth-child(12) {
                height: 85px;
            }
            &:nth-child(13) {
                height: 217px;
            }
            &:nth-child(14) {
                height: 213px;
            }
        }
    }
    &__row_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 9px 0 0 83px;
        padding: 0 6px 43px 0;
    }
}

.card {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
    &-title {
        @extend %fsbc;
        padding: 32px 0 33px 0;
        img {
            width: 15px;
        }
        &__title {
            font-size: 13px;
            letter-spacing: 1.21px;
            text-transform: uppercase;
            color: #8798ad;
        }
    }
    &-container {
        padding: 0 24px;
        margin: 0 auto;
    }
}

// ---- VEHICLES ON TRACK and DISTANCE DRIVEN --------------
.small-card {
    &__container {
        padding: 16px 24px 17px;
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0 0 16px 0;
        &__1 {
            background-color: rgba(51, 172, 46, 0.15);
        }
        &__2 {
            background-color: rgba(0, 193, 212, 0.15);
        }
        &__3 {
            background-color: rgba(140, 84, 255, 0.15);
        }
        &__4 {
            background-color: rgba(247, 193, 55, 0.15);
        }
    }
    &__num {
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.6px;
        color: #2e384d;
    }
    &__text {
        font-size: 15px;
        line-height: 1.47;
        color: #8798ad;
    }
}
