@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/*----------Обнуление----------------------------------------------------------*/
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none}
a:focus, a:active {outline: none}
nav, footer, header, aside{display: block}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; -ms-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit}
input::-ms-clear{display: none}
button{cursor: pointer}
button::-moz-focus-inner{padding: 0; border: 0}
a,a:visited{text-decoration: none}
a:hover{text-decoration: none}
ul li{list-style: none}
image{vertical-align: top}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit}
/*---------------------------------------------------------------------------*/

%fsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Rubik, sans-serif;
    background-color: #f4f6fc;
    font-size: 15px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0 0 50px 0;
}
// @media (max-width: 425px) {
//     .wrapper {
//         margin: 0 auto;  
//         padding: 0 24px;
//     }
// }


.header {
    display: flex;
    height: 80px;
    background-color: #fff;
    // margin-bottom: 64px;
    &__menu-icon {
        padding: 33px 31px 30px 31px;
        background-color: #fff;
        position: absolute;
        img {
            height: 14px;
        }
    }
    &__container {
        @extend %fsbc;
        width: 1140px;
        margin: 0 auto;
        padding: 0 24px
    }
    &__title {
        display: none;
    }
    &__logo {
        width: 102px;
        &-hide{
            display: none;
        }
    }
    &__items {
        display: flex;
        align-items: center;
    }
    &__notification {
        padding: 0 20px 0 0;
        img {
            width: 30px;
        }
    }
    &__message {
        padding: 0 20px 0 0;
        img {
            width: 30px;
        }
    }
    &__avatar {
        width: 40px;
        height: 40px;

        img {
            border-radius: 50%;

            width: 100%;
        }
    }
}

@media (max-width: 1260px) {
    .header {
        &__logo {
            padding: 0 0 0 70px;
        }
    }
}
@media (max-width: 768px) {
    .header {
        margin-bottom: 60px;
        &__logo {
            padding: 0;
            &-hide{
                display: block;
                width: 133px;
            }
        }
        &__notification {
            padding: 0 20px 0 0;
            img {
                width: 23px;
            }
        }
        &__message {
            padding: 0 20px 0 0;
            img {
                width: 23px;
            }
        }
        &__avatar img {
            width: 32px;
            height: 32px;
        }
    }
}
@media (max-width: 425px) {
    .header {
        margin-bottom: 30px;
        height: 50px;
        &__menu-icon {
            padding: 19px 24px 10px 24px;
            background-color: #fff;
            position: absolute;
        }
        &__title {
            display: inline;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            color: #2e384d;
        }
        &__logo {
            display: none;
            &-hide {
                width: 20px;
            }
        }
        &__notification {
            padding: 0;
            img {
                width: 19px;
            }
        }
        &__message {
            display: none;
        }
        &__avatar {
            display: none;
        }
    }
}




.menu {
    position: absolute;
    z-index: 50;
    top: 0;
    left: -100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    &.active {
        display: block;
        width: 80px;
        top: 80px;
        left: 0;
        background: #fff;
            
            // .person {display: none;}

        &:hover {
            width: 215px;
            .person {
                // display: block;
                left: 0;}
            .navigation__title {display: inline;}


        }
    }
    
}


.menu__person {
    margin:42px 0 28px 0;
}
.person {
    position: absolute;
    left: -200%;
    &__row {
        display: flex;
        padding: 0 0 0 30px;
    }
    &__avatar {
            max-width: 32px;
        img{
            width: 100%;
        }
    }
    &__body {
        margin: 0 0 0 10px;
    }
    &__title {
        font-size: 15px;
        color: #2e384d;
    }
    &__name {
        font-size: 15px;
        line-height: 1.47;
        color: #bfc5d2;
    }
}



.navigation {
    margin: 96px 0 0 0;
    &__item {
        padding: 0 0 0 30px;
        display: flex;
        height: 56px;
        text-align: center;
        align-items: center;
        &:hover {
            padding: 0 0 0 27px;
            background-color: #ebeffe;
            border-left: 3px solid #2e5bff;
            &:before {
                padding: 0;
                border-left: 3px solid #2e5bff;
            }
        }
    }
    &__icon {
        width: 20px;
    }
    &__title {
        display: none;
        margin: 0 0 0 18px;
        font-size: 15px;
        color: #b0bac9;
    }
}


.container {
    max-width: 1140px;
    margin: 64px auto 0;
    padding: 0 24px;
}
@media (max-width: 425px) {
    .container{
        max-width: 377px;
    }
}

.section_1 {
    margin: 0 0 35px 0;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 230px 150px;
    grid-template-areas: 'welcome welcome trips trips'
                         'vehicles distance trips trips';
    .welcome {
        grid-area: welcome;
    }
    .todays-trips {
        grid-area: trips;
    }
    .distance-driven {
        grid-area: distance;
    }
    .vehicles-on-track {
        grid-area: vehicles;
    }
}
@media (max-width:768px){
    .section_1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 142px 142px auto;
        grid-template-areas: 'welcome vehicles'
                             'welcome distance'
                             'trips trips';
    }
}
@media (max-width:425px) {
    .wrapper {
        .section_1 {
            display: grid;
            grid-template-columns: 156px 156px;
            grid-template-rows: 184px 164px 371px;
            grid-column-gap: 14px;
            grid-row-gap: 18px;
            grid-template-areas: 'welcome welcome'
                                 'vehicles distance'
                                 'trips trips';
                                 
        }
    }
    
}


.section_2 {
    margin: 0 0 34px 0;
}
.section_3 {
    margin: 0 0 35px 0;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px;
}
@media (max-width: 1040px) {
    .section_3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 270px;
        grid-template-areas: 'top-drivers trips-by-type'
                             'service-reminders service-reminders';
    }
    .top-drivers {
        grid-area: top-drivers;
    }
    .trips-by-type {
        grid-area: trips-by-type;
    }
    .service-reminders {
        grid-area: service-reminders;
    }
}
@media (max-width:425px) {
    .section_3 {
        display: flex;
        flex-direction: column;
    }
}




.card {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
    &-title {
        @extend %fsbc;
        padding: 32px 0 33px 0;
        img {
            width: 15px;
        }
        &__title {
            font-size: 13px;
            letter-spacing: 1.21px;
            text-transform: uppercase;
            color: #8798ad;
        }
    }
    &-container {
        padding: 0 24px;
        margin: 0 auto;
    }
}


// ---- Welcome to Velocity --------------
.welcome {
    padding: 45px 0 42px;
    &__container {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        grid-column-gap: 64px;
    }
    &__image {
        padding: 0 0 0 24px;
        margin: auto 0;
        max-width: 204px;
        img{
            width: 100%;
        }
    }
    &__body {}
    &__title {
        margin: 0 0 13px 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.14;
        color: #2e384d;
    }
    &__text {
        font-size: 15px;
        line-height: 1.47;
        color: #8798ad;
    }
}

@media (max-width:768px){
    .welcome {
        &__container {
        grid-template: 2fr 1fr / 1fr;
        grid-row-gap: 24px;
        }
        &__image {
            padding: 0;
            margin: 0 auto;
        }
        &__title {
            display: none;
        }
        &__body {

        }
        &__text {
            text-align: center;
            align-self: center;
        }
    }
}
@media (max-width: 425px) {
    .welcome {
        padding: 26px 0;
        margin: auto 0;
        &__container {
            grid-template: 1fr / 1fr 1fr;
            grid-column-gap: 20px;
        }
        &__image {
            padding: 0;
            margin: 0 auto;
        }
        &__body {

        }
        &__text {
            text-align: left;
            font-size: 15px;
            line-height: 1.47;
            letter-spacing: normal;
            align-self: center;
        }
    }
}

// ---- VEHICLES ON TRACK and DISTANCE DRIVEN --------------
.small-card {
    &__title {
        margin: 24px 0 16px 0;
    }
    &__container{
        
    }
    &__body {
        display: flex;
    }
    &__check{
        display: none;
    }
    &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__num {
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.6px;
        color: #2e384d;
        margin: 0 0 8px 0;

    }
    &__index{
        font-size: 28px;
        font-weight: 300;
        line-height: 1.14;
        color: #2e384d;
        margin: 0 0 0 6px;

    }
    &__percent {
        font-size: 16px;
        img {
            margin: 0 8px 0 0;
        }
        &__green {
            color: #2db744;
        }
        &__red {
            color: #e84a50;
        }
    }
}

@media (max-width:768px){
    .small-card {
        &__container {
            padding: 0;
            margin: 27px;
            display: flex;
            flex-direction: column-reverse;    
        }
        &__check{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 0 16px 0 0;
            background-color: rgba(0, 193, 212, 0.15);
            &-purple {
                background-color: rgba(140, 84, 255, 0.15);
            }
        }
        &__title {
            margin: 0 0 0 56px;
            text-transform: none;
            font-size: 15px;
            letter-spacing: 0;
        }
        &__num {
            font-size: 48px;
            font-weight: 300;
            letter-spacing: -0.6px;
            margin: 0 0 12px 0;
            color: #2e384d;    
        }
        &__index{
            display: none;            
        }
        &__percent {
            display: none;            
        }
    }
}
@media (max-width:425px){
    .small-card {
        &__container {
            margin: 17px; 
        }
        &__body {
            display: block;
        }
        &__check{
            margin: 0 0 17px 0;
        }
        &__title {
            margin: 0;
        }
        &__num {
            font-size: 32px;
            font-weight: 300;
            letter-spacing: -0.6px;
            margin: 0 0 12px 0;
            color: #2e384d;    
        }
    }
}

// ---- TODAY'S TRIPS --------------
.todays-trips {

    &__container {}
    &__body {
        margin: 33px auto 37px;
    }
    &__points {
        display: flex;
        justify-content: flex-end;
    }
    &__point {
        display: flex;
        font-weight: 400;
        line-height: 1.47;
        color: #8798ad;
        margin: 0 23px 0 0;
        &:last-child {
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            margin: 6px 8px;
            width: 12px;
            height: 12px;
            background-color: #2e5bff;
            border-radius: 50%;
        }
        &.todays-trips__point--purple:before {
            background-color: #8c54ff;
        }
    }
    &__chart {
        &-desctop {
            max-width: 505px;
            img {
                width: 100%;
            }
        }
        &-tablet {
            display: none;
        }
        &-mob{
            display: none;
        }
    } 
}

@media (max-width:768px){
    .todays-trips {
        &__body {
            margin: 3px 0 32px 0;
        }
        &__chart {
            &-desctop {
                display: none;
            }
            &-tablet {
                display: flex;
                margin: 0 auto;
                max-width: 672px;
                img {
                    width: 100%;
                }
            }
        } 
    }
}
@media (max-width:425px) {
    .todays-trips {
        &__chart {
            &-tablet {
                display: none;
            }
            &-mob {
                display: flex;
                margin: 0 auto;
                max-width: 272px;
                img {
                    width: 100%;
                }
            }
        }
    }
}


// ---- Fleet activity map --------------
.fleet-activity-map {
    height: 520px;
    background-image: url(../image/home/map.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1138px 448px;
    &__map {
        display: flex;
        justify-content: flex-end;
    }    
    &__ways {
        width: 463px;
    }
}
.way {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 18px 24px 12px 24px;
    border: solid 1px rgba(46, 91, 255, 0.08);
    margin: 15px 0 0 0;
    &:first-of-type {
        margin: 248px 0 0 0;
    }
    &__title {
        padding: 0 0 4px 0;
        font-weight: 500;
        color: #2e384d;
    }
    &__cost {
        padding: 0 0 4px 0;
        text-align: right;
        font-weight: 500;
        color: #2e384d;
    }
    &__date {
        line-height: 1.47;
        color: #8798ad;
    }
    &__time {
        line-height: 1.47;
        color: #8798ad;
        text-align: right;
    }
}
@media (max-width:768px){
    .fleet-activity-map {
        &__ways {
            display: none;
        }
    }
}
@media (max-width: 425px) {
    .fleet-activity-map {
        display: none;
    }
}

// ---- Top drivers --------------
@media (max-width:425px) {
    .top-drivers {
        padding: 0 0 26px 0;
    }
}
.driver {
    margin: 0 0 11px 0;
    &__grid {
        display: grid;
        grid-template-columns: 48px 16px 1fr 4px 86px;
        grid-template-rows: 1fr 1fr;
    }
    &__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
        display: grid;
        grid-template: 1fr 2fr/2fr 1fr;
        position: relative;
    }
        &__img {
            position: relative;
            grid-column: 1/3;
            grid-row: 1/3;
            width: 48px;
        }
        &__place {
            position: relative;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 10px;
            font-weight: 500;
            color: #8097b1;
            box-shadow: 0 3px 10px 0 rgba(46, 91, 255, 0.3);
            background-color: #fff;
        }
    line-height: 1.47;    
    &__name {
        grid-column: 3/4;
        grid-row: 1/1;
        font-weight: 500;
        color: #2e384d;
    }
    &__salary {
        grid-column: 5/6;
        grid-row: 1/1;
        text-align: right;
        color: #2e384d;

    }
    &__car {
        grid-column: 3/4;
        grid-row: 2/2;
        color: #8798ad;
    }
    &__distance {
        grid-column: 5/6;
        grid-row: 2/2;
        text-align: right;
        color: #8798ad;
    }
}
@media (max-width:425px) {
    .driver{
        &:nth-child(4) {
            display: none;
        }
        &:nth-child(5) {
            display: none;
        }
        &:nth-child(6) {
            display: none;
        }
    }
}

// ---- Trips by type --------------
.trips-by-type {
    &__chart {
        max-width: 316px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__items {
        display: flex;
        justify-content: space-around;
        margin: 25px 0 0 0;
    }
    &__item {
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.6px;
        color: #2e384d;
        margin: 0 0 2px 0;
    }
    &__text {
        display: flex;
        align-items: center;
    }
    &__point {
        content: '';
        display: block;
        border-radius: 50%;
        background-color: #2e5bff;
        width: 12px;
        height: 12px;
        margin: 0 8px 0 0;
        &--purple{
            background-color: #8c54ff;
        }
    }
    &__subtitle {
        font-size: 15px;
        line-height: 1.47;
        color: #8798ad;
    }
}

@media (max-width:425px) {
    .trips-by-type {
        padding: 0 0 26px 0;
    }
}

// ---- Service Reminders --------------
.service-reminders {
    overflow: hidden;
    &__item {
        @extend %fsbc;
        margin: 0 0 16px 0;
    }
    &__row {
        display: flex;
    }
    &__checkbox {
        margin: 0 14px 0 0;
        width: 16px;
        height: 16px;
        opacity: 0.18;
        border-radius: 5px;
        border: solid 1px #8097b1;
    }
    &__text {
        color: #2e384d;
        &-bold {
            font-weight: 500;
        }
    }
    &__options {
        display: none;
    }
    &__button {
        padding: 9px 16px;
        border-radius: 4px;
        background-color: rgba(232, 74, 80, 0.15);
        &-text {
            text-transform: uppercase;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 1.12px;
            color: #e84a50;
        }
    }
}

@media (max-width:1040px) {
    .service-reminders {
        &__item {
            margin: 0 0 12px 0;
            &:nth-child(5) {
                display: none;
            }
            &:nth-child(6) {
                display: none;
            }
            &:nth-child(7) {
                display: none;
            }
        }
        &__options {
            display: inline;
        }
    }
}
@media (max-width:425px) {
    .service-reminders {
        display: none;
    }
}



