@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import 'style_null.scss';
body {
    font-family: Rubik, sans-serif;
    background-color: #f4f6fc;
    font-size: 15px;
    font-weight: 300;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0 0 50px 0;
}
.content {
    display: flex;
    &_title {
        margin: 64px 0 20px 0;
        font-size: 28px;
        font-weight: 200;
        line-height: 1.14;
        color: #2e384d;
    }
}
@media (max-width: 768px) {
    .content {
        margin: 60px 0 20px 0;
        &_title {
            display: none;
        }
    }
}

.container {
    position: relative;
    box-sizing: content-box;
    width: 1140px;
    margin: 0 auto;
    padding: 0 24px;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 24px;
    }
}
.card {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 15px;
        }
        &__title {
            font-size: 13px;
            letter-spacing: 1.21px;
            text-transform: uppercase;
            color: #8798ad;
        }
    }
    &-container {
        padding: 0 24px;
        margin: 0 auto;
    }
}

// --- HEADER ------------------

.header {
    border-bottom: 1px solid #e4e8f0;
    display: flex;
    height: 80px;
    background-color: #fff;
    &__menu-icon {
        padding: 33px 31px 30px 31px;
        background-color: #fff;

        img {
            height: 14px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: content-box;
        width: 1140px;
        margin: 0 auto;
        padding: 0 24px;
    }
    &__title {
        display: none;
    }
    &__logo {
        width: 102px;
        &-hide {
            display: none;
        }
    }
    &__items {
        display: flex;
        align-items: center;
    }
    &__notification {
        padding: 0 20px 0 0;
        position: relative;
        span {
            content: '';
            display: block;
            box-sizing: content-box;
            width: 8px;
            height: 8px;
            background-color: #2e5bff;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            top: -3px;
        }
        img {
            width: 30px;
        }
    }
    &__message {
        padding: 0 20px 0 0;
        position: relative;
        span {
            content: '';
            display: block;
            box-sizing: content-box;
            width: 8px;
            height: 8px;
            background-color: #2e5bff;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 20px;
            top: -7px;
        }
        img {
            width: 30px;
        }
    }
    &__avatar {
        width: 40px;
        height: 40px;

        img {
            border-radius: 50%;

            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__menu-icon {
        }
        &__logo {
            padding: 0;
            &-hide {
                display: block;
                width: 46px;
            }
        }
        &__notification {
            padding: 0 20px 0 0;
            span {
                width: 7px;
                height: 7px;
                left: 13px;
                top: -1px;
            }
            img {
                width: 23px;
            }
        }
        &__message {
            padding: 0 20px 0 0;
            span {
                width: 7px;
                height: 7px;
                left: 17px;
                top: -3px;
            }
            img {
                width: 23px;
            }
        }
        &__avatar img {
            width: 32px;
            height: 32px;
        }
    }
}

// --- MENU ------------------

.menu {
    &-block {
        min-width: 80px;
        height: 0px;
    }
    z-index: 50;
    height: 3000px;
    transition: all 0.5s ease 0.1s;
    overflow: hidden;
    min-width: 80px;
    background: #fff;
    &:hover {
        position: absolute;
        width: 215px;
        .person {
            left: 0;
        }
        .navigation__title {
            display: block;
        }
    }
    &__person {
        margin: 42px 0 28px 0;
    }
}

.person {
    transition: all 0.5s ease 0.1s;
    // display: none;
    position: absolute;
    left: -200%;
    &__row {
        display: flex;
        padding: 0 0 0 30px;
    }
    &__avatar {
        max-width: 32px;
        img {
            width: 100%;
        }
    }
    &__body {
        margin: 0 0 0 10px;
    }
    &__title {
        font-size: 15px;
        color: #2e384d;
    }
    &__name {
        font-size: 15px;
        line-height: 1.47;
        color: #bfc5d2;
    }
}

.navigation {
    margin: 96px 0 0 0;
    &__item {
        padding: 0 0 0 30px;
        display: flex;
        height: 56px;
        text-align: center;
        align-items: center;
        &:hover {
            padding: 0 0 0 27px;
            background-color: #ebeffe;
            border-left: 3px solid #2e5bff;
            &:before {
                padding: 0;
                border-left: 3px solid #2e5bff;
            }
        }
        &__analytics {
            padding: 0 0 0 27px;
            border-left: 3px solid #2e5bff;
            background-color: #ebeffe;
        }
    }
    &__icon {
        width: 20px;
    }
    &__title {
        display: none;
        margin: 0 0 0 18px;
        font-size: 15px;
        color: #b0bac9;
    }
}
@media (max-width: 768px) {
    .menu {
        display: none;
        &-block {
            display: block;
            min-width: 0px;
            z-index: 1;
        }
        &.active {
            height: 500px;
            display: flex;
            position: absolute;
            display: block;
            z-index: 50;
            transition: all 0.3s ease 0s;
            overflow: hidden;
            width: 215px;
            top: 79px;
            left: 0;
            background: #fff;
            .person {
                display: flex;
                left: 0;
            }
            .navigation__title {
                display: block;
            }
        }
    }
}

// --- SECTION 1 ------------------
.section_1 {
    margin: 0 0 24px 0;
}
//               REVENUE (SECTION 1) ------------------

.revenue {
    &__container {
        padding: 32px 24px 43px 24px;
    }
    &__title {
        margin: 0 0 34px 0;
    }
    &__body {
        margin: 0 auto;
    }
    &__points {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__point {
        display: flex;
        align-items: flex-end;
        font-weight: 300;
        line-height: 1.47;
        color: #8798ad;
        margin: 0 23px 0 0;
        &:last-child {
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            margin: 6px 8px 6px 0;
            width: 10px;
            height: 10px;
            background-color: #2e5bff;
            border-radius: 50%;
        }
        &.todays-trips__point--purple:before {
            background-color: #8c54ff;
        }
    }
    &__point-text {
    }
}

.chart {
    margin: 9px 0 0 0;
    font-size: 15px;
    line-height: 1.47;
    text-align: right;
    color: #b0bac9;
    &__row_1 {
        display: flex;
    }
    &__column_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        margin: -8px 18px 0 0;
    }
    &__column_2 {
        background: url(../image/analytics/revenue_grid.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    &__img {
        padding: 26px 0 2px 0;
        img {
            width: 100%;
        }
    }
    &__row_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 0 0 83px;
        padding: 0 6px 0 0;
    }
    &__tablet,
    &__mobile {
        display: none;
    }
}
//    tablet     REVENUE (SECTION 1) ------------------

@media (max-width: 768px) {
    .revenue {
        &__title {
            margin: 0;
        }
        &__points {
            margin: 24px 0 3px 0;
        }
    }
    .chart {
        &__mobile,
        &__desctop {
            display: none;
        }
        &__tablet {
            display: block;
            margin: 0;
            img {
                width: 100%;
            }
        }
    }
}

// --- SECTION 2 ------------------
.section_2 {
    margin: 0 0 48px 0;
    &-container {
        display: grid;
        grid-gap: 27px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
.small-card {
    &__container {
        padding: 16px 24px 17px;
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin: 0 0 20px 0;
        &__1 {
            background-color: rgba(51, 172, 46, 0.15);
        }
        &__2 {
            background-color: rgba(0, 193, 212, 0.15);
        }
        &__3 {
            background-color: rgba(140, 84, 255, 0.15);
        }
        &__4 {
            background-color: rgba(247, 193, 55, 0.15);
        }
    }
    &__num {
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.6px;
        color: #2e384d;
        margin: 0 0 4px 0;
    }
    &__text {
        font-size: 15px;
        line-height: 1.47;
        color: #8798ad;
    }
}

//     tablet      --- SECTION 2 ------------------
@media (max-width: 768px) {
    .section_2 {
        margin: 0 0 24px 0;
        &-container {
            display: grid;
            grid-gap: 24px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    .small-card {
        &__container {
            padding: 27px 24px 34px;

            display: flex;
            flex-wrap: wrap;
        }
        &__check {
            margin: 0;
        }
        &__num {
            margin: 0 0 3px 16px;
        }
        &__text {
            margin: 0 0 0 66px;
        }
    }
}

// --- SECTION 3 ------------------
.section_3 {
    &__row {
        display: flex;
    }
}
@media (max-width: 768px) {
    .section_3 {
        &__row {
            display: block;
        }
    }
}
// --- SECTION 3  LATEST TRIPS ------------------

.latest_trips {
    flex: 0 0 31.7%;
    margin: 0 24px 0 0;
    &__container {
        padding: 32px 24px 22px;
    }
    &__title {
        margin: 0 0 54px 0;
    }
    &__body {
    }
}
.trip {
    font-size: 15px;
    margin: 0 0 17px 0;
    &__row_1 {
        display: flex;
        justify-content: space-between;

        font-weight: 500;
        color: #2e384d;

        margin: 0 0 5px 0;
    }
    &__way {
    }
    &__cost {
        text-align: right;
    }
    &__row_2 {
        display: flex;
        justify-content: space-between;

        line-height: 1.47;
        color: #8798ad;
    }
    &__date {
    }
    &__time {
        text-align: right;
    }
}
// --- SECTION 3  LATEST TRIPS tablet ------------------

@media (max-width: 768px) {
    .latest_trips {
        margin: 0 0 24px 0;
        &__container {
            padding: 32px 24px 28px;
        }
        &__title {
            margin: 0 0 35px 0;
        }
    }
    .trip {
        &:nth-child(3) {
            margin: 0;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }
    }
}
// --- SECTION 3  TRIPS BY WEEKDAY ------------------

.trips_by_weekday {
    flex: 1 1 auto;
    &__container {
        padding: 32px 24px 26px;
    }
    &__title {
        margin: 0 0 41px 0;
    }
    &__body {
        margin: 0 auto;
    }
    &__points {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__point {
        display: flex;
        align-items: flex-end;
        font-weight: 300;
        line-height: 1.47;
        color: #8798ad;
        margin: 0 23px 0 0;
        &:last-child {
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            margin: 6px 8px 6px 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        &_1:before {
            background-color: #2e5bff;
        }
        &_2:before {
            background-color: #8c54ff;
        }
        &_3:before {
            background-color: #fad050;
        }
    }
}

.chart_two {
    &__tablet {
        display: none;
    }
    margin: 9px 0 0 0;

    font-size: 15px;
    line-height: 1.47;
    text-align: right;
    color: #b0bac9;
    &__row_1 {
        display: flex;
    }
    &__column_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        margin: 0 7px -10px 0;
    }
    &__column_2 {
        background-image: url(../image/analytics/chart_two.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    &__img {
        padding: 46px 62px 98px 62px;
        position: relative;
        img {
            margin: 0 15px 0 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 50;
        }
        div {
            display: flex;
            align-items: flex-end;
            position: absolute;
            z-index: 2;
            top: 38px;
        }
        .span {
            content: '';
            display: block;
            width: 7px;
            border-radius: 99px;
            margin: 0 6px 0 0;
            background-color: #2e5bff;
            &:nth-child(even) {
                margin: 0 72px 0 0;
                background-color: #8c54ff;
            }
            &:nth-child(1) {
                height: 152px;
            }
            &:nth-child(2) {
                height: 177px;
            }
            &:nth-child(3) {
                height: 120px;
            }
            &:nth-child(4) {
                height: 139px;
            }
            &:nth-child(5) {
                height: 142px;
            }
            &:nth-child(6) {
                height: 165px;
            }
            &:nth-child(7) {
                height: 245px;
            }
            &:nth-child(8) {
                height: 175px;
            }
            &:nth-child(9) {
                height: 102px;
            }
            &:nth-child(10) {
                height: 119px;
            }
            &:nth-child(11) {
                height: 119px;
            }
            &:nth-child(12) {
                height: 85px;
            }
            &:nth-child(13) {
                height: 217px;
            }
            &:nth-child(14) {
                height: 213px;
            }
        }
    }
    &__row_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 9px 0 0 83px;
        padding: 0 6px 0 0;
    }
}

// --- SECTION 3  TRIPS BY WEEKDAY tablet ------------------

@media (max-width: 768px) {
    .trips_by_weekday {
        &__container {
            padding: 32px 24px 30px;
        }
        &__title {
            margin: 0 0 23px 0;
        }

        &__points {
            margin: 0 0 10px 0;
        }
    }

    .chart_two {
        &__desctop {
            display: none;
        }
        &__tablet {
            display: block;
        }
        margin: 0;
        img {
            width: 100%;
        }
    }
}
