@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/*----------Обнуление----------------------------------------------------------*/
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none}
a:focus, a:active {outline: none}
nav, footer, header, aside{display: block}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; -ms-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit}
input::-ms-clear{display: none}
button{cursor: pointer}
button::-moz-focus-inner{padding: 0; border: 0}
a,a:visited{text-decoration: none}
a:hover{text-decoration: none}
ul li{list-style: none}
image{vertical-align: top}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit}
/*---------------------------------------------------------------------------*/

%fsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Rubik, sans-serif;
    background-color: #f4f6fc;
    font-size: 15px;
}

.header {
    display: flex;
    height: 80px;
    background-color: #fff;
    .menu-icon {
        padding: 33px 31px;
        position: absolute;
    }
    .header-container__row {
        @extend %fsbc;
        width: 1140px;
        margin: 0 auto;
        .logo img {
            width: 102px;
        }
    }
    .header__items {
        display: flex;
        align-items: center;
        >.notification {
            height: 32px;
            padding: 0 20px 0 0;
        }
        >.message {
            height: 21px;
            padding: 0 20px 0 0;
        }
        >.avatar {
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
    }
}

.container {
    width: 1140px;
    margin: 64px auto 0;
}


.section_1 {
    margin: 0 0 35px 0;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 230px 150px;
    grid-template-areas: 'welcome welcome trips trips'
                         'vehicles distance trips trips';
    .welcome {
        grid-area: welcome;
    }
    .todays-trips {
        grid-area: trips;
    }
    .distance-driven {
        grid-area: distance;
    }
    .vehicles-on-track {
        grid-area: vehicles;
    }
}
.section_2 {
    margin: 0 0 34px 0;
}
.section_3 {
    margin: 0 0 35px 0;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px;
}

.card {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
}
.card-title {
    @extend %fsbc;
    padding: 32px 0 33px 0;
    img {
        width: 15px;
    }
}
.card-title__title {
    font-size: 13px;
    letter-spacing: 1.21px;
    text-transform: uppercase;
    color: #8798ad;
}


.welcome {
    display: flex;
    padding: 45px 45px 42px 45px ;
    >img{
        width: 204px;
        height: 141px;
    }
    .body {
        margin: 0 0 0 64px;
        .title {
            margin: 0 0 13px 0;
            font-size: 28px;
            font-weight: 300;
            line-height: 1.14;
            color: #2e384d;
        }
        .text {
            line-height: 1.47;
            color: #8798ad;
        }
    }
}

.fleet-activity-map {
    height: 520px;
    background-image: url(../image/home/map.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.fleet-activity-map {
    
}

.fleet-activity-map__map {
}

.way-box {

    width: 463px;

}
.way {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 18px 24px 12px 24px;
    background-color: #fff;
    border-radius: 1px;
    border: solid 1px rgba(46, 91, 255, 0.08);
    box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
    margin: 15px 0 0 0;
    &__title {
        padding: 0 0 4px 0;
        font-weight: 500;
        color: #2e384d;
    }
    &__cost {
        padding: 0 0 4px 0;
        text-align: right;
        font-weight: 500;
        color: #2e384d;
    }
    &__date {
        line-height: 1.47;
        color: #8798ad;
    }
    &__time {
        line-height: 1.47;
        color: #8798ad;
        text-align: right;
    }
}
    



.card-container {
    padding: 0 24px;
    margin: 0 auto;
}

.driver {
    margin: 0 0 11px 0;
    &__grid {
        display: grid;
        grid-template-columns: 48px 16px 160px 4px 86px;
        grid-template-rows: 1fr 1fr;
    }
    &__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
        display: grid;
        grid-template: 1fr 2fr/2fr 1fr;
        position: relative;
    }
        &__img {
            position: relative;
            grid-column: 1/3;
            grid-row: 1/3;
            width: 48px;
        }
        &__place {
            position: relative;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 10px;
            font-weight: 500;
            color: #8097b1;
            box-shadow: 0 3px 10px 0 rgba(46, 91, 255, 0.3);
            background-color: #fff;
        }
    &__name {
        grid-column: 3/4;
        grid-row: 1/1;
        font-weight: 500;
        line-height: 1.47;
        color: #2e384d;
    }
    &__salary {
        grid-column: 5/6;
        grid-row: 1/1;
        line-height: 1.47;
        text-align: right;
        color: #2e384d;

    }
    &__car {
        grid-column: 3/4;
        grid-row: 2/2;
        line-height: 1.47;
        color: #8798ad;
    }
    &__distance {
        grid-column: 5/6;
        grid-row: 2/2;
        line-height: 1.47;
        text-align: right;
        color: #8798ad;
    }
}
.distance,
.vehicles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0 24px 24px;
}

.distance__title,
.vehicles__title {
    margin: 0 0 8px 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.21px;
    color: #8798ad;
}

.distance__body,
.vehicles__body {
    margin: 0 0 8px 0;
}
.distance__num-index,
.vehicles__num-index {
    display: flex;
    align-items: flex-end;
}

.distance__num,
.vehicles__num {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.6px;
    margin: 0 6px 0 0;
    color: #2e384d;
}
.distance__index,
.vehicles__index{
    font-size: 28px;
    font-weight: 300;
    line-height: 1.14;
    color: #2e384d;
}
.distance__percent {
    font-size: 16px;
    color: #2db744;
}

.vehicles__percent {
    font-size: 16px;
    color: #e84a50;
}

.distance__percent img,
.vehicles__percent img
{
    margin: 0 8px 0 0;
}
.todays-trips {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .todays-trips__title {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1.21px;
        color: #8798ad;
    }
    .todays-trips__points {
        display: flex;
        justify-content: flex-end;
    }
    .todays-trips__point {
        display: flex;
        font-weight: 400;
        line-height: 1.47;
        color: #8798ad;
        margin: 0 23px 0 0;
        &:last-child {
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            margin: 6px 8px;
            width: 12px;
            height: 12px;
            background-color: #2e5bff;
            border-radius: 50%;
        }
        &.todays-trips__point--purple:before {
            background-color: #8c54ff;
        }
    } 
    .todays-trips__chart img{
        width: 505px;
    }
}


.trips-by-type__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trips-by-type__title__row {
    padding: 32px 0 45px 0;
}

.trips-by-type__chart__bg-chart table {
    border-collapse: collapse;
    width: 100%;
}
.trips-by-type__chart__bg-chart td {
    border: 1px dashed #8097b1;
    max-width: 70px;
    height: 43px;
}

.trips-by-type__chart__row img {
    width: 316px;
}
.trips-by-type__value__row {
    display: flex;
    justify-content: space-around;
    margin: 25px 0 0 0;
}
.value-item {}
.value-item__value {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #2e384d;
    margin: 0 0 2px 0;
}
.value-item__text {
    display: flex;
    align-items: center;
}
.value-item__point {
    content: '';
    display: block;
    border-radius: 50%;
    background-color: #2e5bff;
    width: 12px;
    height: 12px;
    margin: 0 8px 0 0;
}
.value-item__point_2 {
    background-color: #8c54ff;
}
.value-item__subtitle {
    line-height: 1.47;
    color: #8798ad;
}

.item8_list {
    .item8_list_item {
        @extend %fsbc;
        margin: 0 0 16px 0;
        div {
            display: flex;
        }
        input {
            margin: 0 14px 0 0;
            width: 16px;
            height: 16px;
            opacity: 0.18;
            border-radius: 5px;
            border: solid 1px #8097b1;
        }
        .item8_list_text {
            color: #2e384d;
            >span {
                font-weight: 500;
            }
        }
        button {
            padding: 9px 16px;
            border-radius: 4px;
            background-color: rgba(232, 74, 80, 0.15);
            >span {
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 1.12px;
                color: #e84a50;
            }
        }
    }
}



